# {{ ansible_managed }}
[Service.{{ openio_blob_indexer_namespace }}-oio-blob-indexer-{{ openio_blob_indexer_serviceid }}]
command=/usr/bin/oio-blob-indexer /etc/oio/sds/{{ openio_blob_indexer_namespace }}/oio-blob-indexer-{{ openio_blob_indexer_serviceid }}/oio-blob-indexer-{{ openio_blob_indexer_serviceid }}.conf
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_blob_indexer_namespace }},oio-blob-indexer,{{ openio_blob_indexer_serviceid }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
